This is Part 2 of the midterm exam

In [13]:
numbers = [1, 2, 3, 4, 5, 6]

for number in numbers:
  if (number%2) == 0:
    print(f"{number} is even")
  else:
    print(f"{number} is odd")

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even

The code tells if the number is odd or even.

In [11]:
numbers = [1, 2, 3, 4, 5, 6]
evens = [ ]
odds = [ ]

for number in numbers:
  if (number%2) == 0:
    evens.append(number)

for number in numbers:
  if (number%2) != 0:
    odds.append(number)

print(evens)
print(odds)

[2, 4, 6]
[1, 3, 5]

The code separates the numbers into even and odd.

In [10]:
numbers = [1, 2, 3, 4, 5, 6]
doubles = [ ]

for number in numbers:
  number *= 2
  doubles.append(number)
print(doubles)

[2, 4, 6, 8, 10, 12]

The code prints the number and it will double the values of it.

In [9]:
numbers = [1, 2, 3, 4, 5, 6]

evens = [number for number in numbers if (number % 2) == 0]
odds = [number for number in numbers if (number % 2) != 0]

print(evens)
print(odds)

[2, 4, 6]
[1, 3, 5]

the code funcitons just like the other odd and even codes but they have different codes.

In [8]:
numbers = [1, 2, 3, 4, 5, 6]
doubles = [number * 2 for number in numbers]
print(doubles)

[2, 4, 6, 8, 10, 12]

the code functions just like the other double code but they have different codes.

In [14]:
name_lengths = []
names = ["alice", "bob", "carol"]
name_lengths = [len(name) for name in names]

print(name_lengths)

[5, 3, 5]

it prints the names lengths.

In [5]:
record = ["alice", 5]

name, length = record

print(f"{name} have a length of {length}")

alice have a length of 5

the code is different but it also tells the length of the name

In [4]:
records = [
           ["alice", 5],
           ["bob", 3],
           ["carol", 4],
]

for name, length in records:
  print(f"{name} have a length of {length}")

alice have a length of 5
bob have a length of 3
carol have a length of 4

the code is the same with the other but this has 2 names added in the list.

In [2]:
names = ["alice", "bob", "carol"]
name_lengths = [5, 3, 5]

for name, length in zip(names, name_lengths):
  print(f"{name} have a length of {length}")

  print (zip(names, name_lengths))
  print (list(zip(names, name_lengths)))

alice have a length of 5
<zip object at 0x7f3511093140>
[('alice', 5), ('bob', 3), ('carol', 5)]
bob have a length of 3
<zip object at 0x7f3511093230>
[('alice', 5), ('bob', 3), ('carol', 5)]
carol have a length of 5
<zip object at 0x7f3511093320>
[('alice', 5), ('bob', 3), ('carol', 5)]

In [3]:
names = ["alice", "bob", "carol", "marvin"]
name_lengths = [5, 3, 5]
genders = ["female", "male", "female"]
ages = [15, 22, 34]

for name, length, gender, age in zip(names,name_lengths, genders, ages):
  print(f"{name} have a length of {length}. They are {gender}. Ages are {age}")
print(filter)

alice have a length of 5. They are female. Ages are 15
bob have a length of 3. They are male. Ages are 22
carol have a length of 5. They are female. Ages are 34
<class 'filter'>